@media screen and (max-width: 1024px) {
  .container.container-full-width,
  .container-full-width {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .container-edge-spacing {
    padding: 1rem;
  }
}

.subs, .subs-placeholder {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 600px) {
  .subs, .subs-placeholder {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .subs, .subs-placeholder {
    grid-template-columns: repeat(3, 1fr);
  }
}