.users {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 600px) {
  .users { grid-template-columns: repeat(3, 1fr); }
}

.users li {
    border: 1px solid #685394;
    border-radius: 10px;
}

.users .avatar {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
}

.users .avatar img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.users footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: #3d3451;
    border: 1px solid #3d3451;
    padding: 15px 20px;
    text-align: left;
    border-radius: 0 0 5px 5px;

}

.users footer strong {
    font-size: 16px;
    color: #eee;
}

.users footer small {
    display: block;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
    
    font-size: 14px;
    color: #c1bec7;
    margin-top: 5px;
}

.users .buttons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.users .buttons button {
    height: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 4px;
    background: #685394;
    cursor: pointer;
}

.users .buttons button svg {
    font-size: 24px;
    color: white;
}

.users .buttons button:hover svg {
    transform: translateY(-5px);
    transition: all .2s;
}

.users .buttons button:hover svg.dislike {
  transform: translateY(+5px);
  transition: all .2s;
}

.main-container .empty {
    font-size: 32px;
    color: #c1bec7;
    font-weight: bold;
    margin-top: 300px;
}
