.channels-description {
  /* border: 1px solid white; */
  margin: 48px 0 36px;
  color: #ccc;
  font-size: 16px;
}

.channels-description span {
  line-height: 21px;
}

.channels-description svg {
  font-size: 24px;
  color: #eee;
  margin-left: 16px;
}

.categories {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.categories li {
  flex-direction: column;
  align-items: center;
  height: inherit;
	text-align: center;
	padding: 0.2rem;
  justify-content: center;
  
  color: #ccc;
  background: #7159c1;
  border-radius: 10px;
}

.categories li p {
  overflow: hidden;
}

@media (min-width: 900px) {
  .categories li {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    height: 48px;
    color: #ccc;
    background: #7159c1;
    border-radius: 10px;
  }
}

.categories li svg {
  font-size: 1.6rem;
  margin: 0 0.4rem;
}

.categories li p {
  margin-right: 0.4rem;
  font-size: 0.8rem;
}

.channels {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 600px) {
  .channels { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .channels { grid-template-columns: repeat(3, 1fr); }
}

.channels li .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.channels .avatar img {
  width: 64px;
  border-radius: 32px;
}

.channels aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  justify-content: center;
  /*background-color: #3d3451;
    border: 1px solid #3d3451;*/
  padding: 15px 20px;
  text-align: left;
  border-radius: 0 0 5px 5px;
}

.channels aside strong {
  font-size: 16px;
  color: #eee;
}

.channels aside small {
  font-size: 14px;
  color: #c1bec7;
  margin-top: 5px;
  line-height: 20px;
  /*height: 40px;
  overflow: hidden;*/
}

.channel-container .empty {
  font-size: 32px;
  color: #c1bec7;
  font-weight: bold;
  margin-top: 300px;
}